body {
    background-color: #aabbbe;
}


h1{
    text-size-adjust: 20px;
    padding-left: 50px;
 
}


.line {
 display: flex;
 align-items: last baseline;
 background: #7a9caa;
 padding-left: 15px;
}

.line button{
border-radius: 15px; 
background-color: #E2E8E4; 
font-size:1.6vw;
}
