body {
    background-color: #aabbbe;
}


h1{
    font-size: 28px;
    padding-left: 50px;
 
}


.line {
 display: flex;
 align-items: last baseline;
 background: #7a9caa;
 padding-left: 15px;
}

.rega button {
    border-radius: 30px;
    background-color: #E2E8E4;
    font-size: 14px;
    padding: 10px;
    width: 150px;
}


.block{
    display: flex;
    background: #7a9caa;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}
    
.rega{
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

form h2 {
    text-align: center;
}

form input{
border-radius: 30px;
font-size: 14px;
padding: 10px;
}